/* Aggiungi questo stile al tuo file App.css o Footer.css */

.footer {
    background-color: rgba(74, 70, 70, 0.331);
    color: #fff;
    padding: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.log {
    width: 120px;
    /* Aumenta la larghezza dell'immagine */
    height: 60px;
    /* Aumenta l'altezza dell'immagine */
}



/* Aggiungi queste regole all'interno del tuo file CSS del footer (Footer.css) */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        /* Imposta il layout a colonna */
        text-align: center;
        /* Centra il testo */
        padding: 10px;
        /* Riduci il padding */
    }

    .footer-content {
        margin-bottom: 10px;
        /* Aggiungi margine inferiore */
    }

    .footer p {
        font-size: 1rem;
        /* Riduci la dimensione del testo */
        margin-bottom: 5px;
        /* Riduci il margine inferiore */
    }

    .footer-links {
        margin-top: 5px;
        /* Riduci il margine superiore */
    }
}